.main {
    max-width: 850px;
    margin-top: 90px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 242, 242);
    border: 1px solid rgb(213, 217, 217);
    padding: 20px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.order-header-left-section {
    display: flex;
}

.order-header-label {
    font-weight: bold;
    margin-right: 40px;
}

@media(max-width:500px) {
    .order-header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .order-header-left-section {
        margin-bottom: 10px;
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .order-date {
        margin-bottom: 10px;
    }
}

.order-details-grid {
    display: grid;
    grid-template-columns: 110px 1fr 220px;
    column-gap: 35px;
    row-gap: 60px;
    padding: 40px 25px;
    border: 1px solid rgb(213, 217, 217);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media(max-width: 800px) {
    .order-details-grid {
        grid-template-columns: 110px 1fr;
        column-gap: 35px;
        row-gap: 0;
        padding-bottom: 14px;
    }
}

@media(max-width:450px) {
    .order-details-grid {
        grid-template-columns: 1fr;
    }
}

.product-image-container {
    text-align: center;
}

.product-image-container img {
    max-width: 115px;
    max-height: 115px;
}

.product-name {
    font-weight: 700;
    margin-bottom: 5px;
}

.product-delivery-date {
    margin-bottom: 3px;
}

.product-quantity {
    margin-bottom: 8px;
}

.buy-again-button {
    display: flex;
    align-items: center;
    padding: 4px;
    width: 130px;
    justify-content: center;
    font-size: 14px;
}

.buy-again-icon {
    height: 24px;
    margin-right: 10px;
}

.product-actions {
    align-self: start;
}

.track-package-button {
    width: 100%;
    font-size: 15px;
    padding: 8px;
}

@media(max-width:800px) {
    .buy-again-button {
        margin-bottom: 5px;
        width: 140px;
    }

    .product-actions {
        grid-column: 2;
        margin-bottom: 30px;
    }

    .track-package-button {
        width: 140px;
    }
}

@media(max-width:450px) {
    .product-image-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .product-image-container img {
        max-width: 150px;
        max-height: 150px;
    }

    .product-name {
        margin-bottom: 10px;
    }

    .product-quantity {
        margin-bottom: 15px;
    }

    .buy-again-button {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .product-actions {
        /* grid-column: auto; undos grid-column: 2; from above.
       This element will now be placed in its normal column
       in the grid. */
        grid-column: auto;
        margin-bottom: 70px;

    }

    .track-package-button {
        width: 100%;
        padding: 12px;
    }
}